* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #ffffff;
    box-shadow: #edeffe;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(147, 107, 107);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: #3a3f47;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 10px;
}

input {
    grid-column: span 4;
    height: 60px;
    background-color: #0d0e0f;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    height: 60px;
    width: 80px;
    background-color: #ffffff;
    box-shadow: #a2a5a9;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffffff;
    box-shadow: #000000;
}

button:active {
    background-color: #3a3f47;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.button-equal {
    grid-column: span 2;
    background-color: #f31212;
}

.button-equal:hover {
    background-color: #e62222;
}

.button-equal:active {
    background-color: #d30000;
}
